
  
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: black;
  }
  
.nav-links li {
    list-style: none;
  }
  
.nav-links a {
  margin-left: 60px;
    color: rgb(19, 18, 18);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    padding: 20px 60px;
  }
  
.nav-links a:hover:not(.active) {
    background-color: rgba(19, 18, 18, 0.521);
  }
  
.nav-links li a.active {
    background-color: #4caf50;
  }

.photoblog_container {
  margin-top: 40px;
  display: block;
  justify-content: center;
  align-items: center;
}


footer {
    background-color: #080808;
    padding: 20px 0;
    text-align: center;
  }
  
  
.footer-container {
    max-width: 960px;
    margin: 0 auto;
  }
  
p {
    font-size: 14px;
    color: #faf8f8;
  }